@media only screen and (min-width: 48em) {
    .solune-content {
        width: 60%;
    }
}

@media only screen and (max-width: 48em) {
    .solune-pierre div {
        flex-direction: column;
        justify-content: center;
    }
}

.hide {
    display: none;
}

.solune-content {
    margin: 1em auto 0 auto;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.solune-form {
    display: grid;
}

.tooltip {
    font-size: 0.8em;
    color: grey;
    font-weight: 500;
    font-style: italic;
}

.input__label {
    border-right: 1px solid #dadce0;
    border-left: 1px solid #dadce0;
}

.solune-grid-2 .solune-pierre {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-bottom: 20px;
}

.solune-pierre div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.solune-pierre-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.solune-notification {
    font-family: 'Inter', sans-serif;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed; 
    z-index: 1; 
    right: 3%;
    bottom: 3%;
}

.solune-notification.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    background-color: #3b8f3f;
}

.solune-notification.show-error {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    background-color: #e04f4f;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.solune-input {
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #dadce0;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    font-family: 'Inter', sans-serif;
}

.solune-input:focus {
    border-color: #1d1e20;
}

#birthdate {
  background-color: #ffffff;
  display: block;
  width: 100%;
}

.solune-submit, .solune-submit:hover {
    background-color: #186ae6;
    padding: 1em;
    color: #e5f00b;
    font-weight: 600;
    font-size: 16px;
    width: 40%;
    text-align: center;
    border: 1px solid #b8c0cc;
    margin: 0 auto 1em auto;
    align-items: center;
    height: min-content;   
    cursor: pointer;
    border-radius: 5px;
}

.solune-grid-2 p {
    margin-bottom: 2em;
}

.solune-grid-2 p:first-child {
    margin-bottom: 2em;
    font-weight: 400;
    font-size: 24px;
}

.solune-paragraphe {
    line-height: 20pt;
    text-align: center;
}

.solune-paragraphe .solune-submit {
    margin-top: 1em;
}

.solune-nom-pierre {
    font-weight: 600;
}

.solune-valeur-pierre {
    font-style: italic;
}
